* {
  box-sizing: border-box;
}
#container {
  width: 1000px;
  margin: 20px auto;
}
h1 {
  text-align: center;
}
.prod-list {
  list-style: none;
  padding: 0;
}
.prod-list li {
  float: left;
  padding: 0;
  margin: 10px;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.prod-list img{
  margin: 0;
  padding: 0;
  z-index: 5;
}
.prod-list .caption{
  padding-top: 20px;
  position: absolute;
  top:200px;   /* 기준 위치보다 200px 아래로 */
  width: 300px;
  height: 200px;
  background-color: rgba(0,0,0,0.59);   /* 반투명한 검정색 배경 */
  transition: all 0.6s ease-in-out;
  opacity: 0.6;   /* 화면에 보이지않게 */
  z-index: 10;  /* 다른 요소보다 위에 있도록 */
}
.prod-list li:hover .caption{
  opacity: 1;  /* 설명글이 화면에 보이게 */
  transform: translateY(-200px);
}
.prod-list .caption h2, .prod-list .caption p{
  color: #fff;
  text-align: center;
}
