
/*여백 및 기본적인 폰트를 설정*/
body{
	margin:0;
	padding:0;
	font-family: Arial,"MS Trebuchet",sans-serif;
}
/* 페이지의 내용을 가운데 놓음*/
#wrap{
	width: 960px;
	margin:0 auto;
}
/*헤더의 넓이를 정함*/
#page_header{
	width: 100%
}
/* 내비게이션의 리스트 점 제거 */
#page_header nav ul, #page_footer nav ul{
	list-style:none;
	margin: 0;
	padding:0;
}
/* 내비게이션을 가로 바 형태로 만듦 */
#page_header nav ul li, #page_footer nav ul li{
	 padding:0;
	 margin: 0 20px 0 0;
	 display: inline-block;
}
p{
	margin: 0 0 20px 0;
}
/* 가로 방향으로 표시*/
#posts{
	float:left;
	width: 74%;
}
.post p{
	float:left;
	width: 65%;
	/* margin-right: 5px; */
}
.post aside{
	float:right;
	width: 35%;
	text-align: center;
}
.post aside p{
	font-size: 17px;
	/* line-height: 15px; */
	padding-left: 10px;
}
#sidebar{
	float: left;
	width: 15%;
}

/*float를 해제해서 페이지 하단에 안착시킴*/
#page_footer{
	clear: both;
	width: 100%;
	text-align: center;
}