body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap {
  width: 960px;
  margin: 20px auto;
}
/* 헤더의 넓이를 정함 */
#page_header{
  width: 100%;
}
header {
  width: 100%;
  padding-left: 30px;
  margin-top: 20px;
}
#section1 {
  float: left;
  width: 800px;
  height: 250px;
}
#inner-section{
  float: left;
  width: 500px;
}
#section2 {
  float: left;
  width: 160px;
  height: 250px;
}
article article{
  padding: 30px;
}
aside {
  float: left;
  width: 300px;
  padding: 30px;
  font-size: 1.2em;
}

#posts{
  float: letf;
  width: 74%;
}
.post p{
  float: left;
  width: 65%;
}
.post aside{
  float: right;
  width: 35%;
  text-align: center;
}
.post{

}
/* 내비게이션의 리스트 점 제거 */
#page_header nav ul,
#page_footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* 내비게이션을 가로 바 형태로 만듦 */
#page_header nav ul li,
#page_footer nav li {
  padding: 0;
  margin-right: 20px;
  display: inline-block;
}
p{
  margin-bottom: 20px;
}
#page_footer{
  clear: both;
  width: 100%;

}